/*index.html*/
body{
    background-color: rgba(233, 226, 255, 0.8);
}

html.index{
    background-image: url("../pics/kittycatpattern.jpg");
}

h1{
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3";
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-shadow:3px 1px black;
}
h1.kittyheader{
    background-image: url("../pics/kawaiipattern.jpg");
}
h2{
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3";
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#navlist{
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navlist li{
    display: inline;
    float: top;
    text-align: center;
    padding: 10px;
    margin: 0;
}
#navlist li a{
    border-right: none;
    padding: 0;
    *margin: 0 0 10px 0;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}
#navlist li a:hover{
    color: grey;
    background: skyblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #2F4F4F;
  padding: 10px;
}
.grid-item {
    color: #2F4F4F;
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: rgba(224, 214, 255, 0.8);
  border: 1px solid #2F4F4F;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#agyou, #kagyou, #sagyou, #tagyou, #nagyou, #hagyou, #magyou, #yagyou, #ragyou, #wagyou, #n{
    color: black;
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#digraphs{
    color: black;
}

/*agyou*/

.img-container {
    float: left;
    width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 5px; /* if you want space between the images */
}

#myCanvas {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
  }

#myCanvas2 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas3 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas4 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas5 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas6 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas7 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas8 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas9 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas10 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas11 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
  }

#myCanvas12 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas13 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas14 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas15 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas16 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas17 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas18 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas19 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas20 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas21 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
  }

#myCanvas22 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas23 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas24 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas25 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas26 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas27 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas28 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas29 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}
#myCanvas30 {
    width: 60%;
    height: 235px;
    border: solid 1px #c8def0;
    border-radius: 10px;
}